.container-pedidos{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.pedidos{
    padding: 10px;
}

.situacao-pedido{
    padding: 11px;
    font-size: 14px;
}

/*Estilos para a página de novos pedidos*/


/*Estilos para a página show*/
#img-animal-pedido{
    width: 230px;
    height: 230px;
    border-radius: 30px;
}
.dados-pedidos{
    padding: 10px;
    margin-bottom: 5px;   
    border-radius: 30px;
    border: #bfbcbc 1px solid;  
}

.linha-titulo{
   background-color: #bfbcbc;
   width: 100%;
}

